*{
    margin: 0;
    padding: 0;
}

.normal-font{
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    opacity: 0.8;
    font-size: 22PX;
    letter-spacing: 2px;
}

.main-container{
    margin: 0px 160px;
}

.bio{
    display: flex;
    margin-top: 100PX;
    justify-content: space-around;
    height: 70vh;
}

.introduction{
    margin-top: 100px;

}

.vertical-line{
    position: absolute;
    top: 214px;
    left: 160px;
    height: 132px;
    width: 5px;
    border-radius: 40px;
    background: linear-gradient(to bottom, rgba(0, 41, 155, 0.637), rgba(40, 0, 114, 0.376));
    margin: 0 20px;

}

.title{
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif; 
    font-weight:900;
}

.part-title{
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif; 
    font-weight: 900;
    color: tomato;
}

.introduction h1{
    font-size: 64px;
}

.introduction .part-title{
    font-size: 54px;
}

.button-container{
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif; 
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    background:linear-gradient(to right bottom, rgba(255, 0, 0, 0.753),rgba(255, 0, 55, 0.514));
    height: 60px;
    line-height: 60px;
    width: 190px;
    border-radius: 10px;
}

.button{
    text-decoration: none;
    color: white;
}

.my-mission{
    text-align: center;
    height: 70vh;
}

.my-mission .title{
    font-size: 60px;
}

.card-container{
    display: flex;
    justify-content: space-between;
}

.mission-card{
    margin-top: 50px;
    height: 500px;
    width: 500px;
    
    border-radius:50px;
}

.card-title{
    font-size: 36px;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif; 
}

.card-content{
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    opacity: 0.7;
    letter-spacing: 1px;
    text-align: left;
    margin: 20px;
}

#mission{
background-color: #EDF5F6;
}

#vision{
    background-color: #FFEEEE;
}

#goals{
    background-color: #FFF4D6;
}

.about-container{
    height: 70vh;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.about-container .title{
    font-size: 56px;
}

.about-img img{
    border-radius: 50px;
}

.about-content{
    margin-top: 100px;
width: 60%;
}

.skill-container{
    display: flex;
    justify-content: space-between;
    height: 70vh;
}

.skill-header{
    margin-top: 70px;
}

.skill-container .title{
    font-size: 56px;

}

#skills{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 60%;
    text-align: center;
    font-weight: 800; 
}

.services{
    height: 80vh;
}

.services .title{
    font-size: 56px;
    text-align: center;
}

.service-container{
    margin-top: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 100%;
}

.service-card{
    height: 300px;
    width: 500px;
    box-sizing: border-box;
    box-shadow: 3px 3px 10px  rgba(0, 0, 0, 0.219);
    border-radius: 5px;
    transition: transform 0.1s ease-in;
}

.service-card p{
    font-size: 16px;
    margin: 15px;
    letter-spacing: 2px;
    opacity: 0.8;
}

.service-card:hover{
    background:linear-gradient(to right bottom, rgba(255, 0, 0, 0.568),rgba(255, 0, 55, 0.329));
    color: white;
}

.service-icon{
    height: 70px;
    width: 70px;
    margin-left: 220px;
    margin-top: 25px;
}

.icon-title{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}

hr{
    width: 40px;
    margin-left: 230px;
    border: 1px solid rgb(255, 51, 0);
}


.service-card:hover {
    transform: scale(1.05);
}

.service-card:hover hr{
    border: 1px solid yellow;
}

.footer{
    margin-top: 100px;
    height: 25vh;
    background: linear-gradient(to right bottom, rgb(4, 4, 49), rgb(19, 0, 63));
}

.footer{
    color: white;
    text-align: center;
    padding-top: 60px;
}

.footer h2{
    color: white;
    font-size: 44px;
}



